/* You can add global styles to this file, and also import other style files */
body {
  background: black;
  margin: 0;
  color: #fff;
  .game-container {
    display: block;
    margin: 0 auto;
    width: 640px;
    height: 640px;
    canvas {
      display: block;
      width: 640px;
      height: 640px;
    }
  }
  footer {
    text-align: center;
    margin: 5px;
    a {
      color: #ccc;
      text-decoration: none;
      &:hover {
        color: #fff;
        text-decoration: underline;
      }
      &:visited {
        color: #ccc;
      }
    }
  }
}
