@import '~@angular/material/theming';
@import 'themes/palette';

$custom-typography: mat-typography-config(
  $font-family: 'Teko, sans-serif'
);

@include angular-material-typography($custom-typography);

@include mat-core($custom-typography);

$zir-primary: mat-palette($zir-black-palette);
$zir-accent: mat-palette($zir-white-palette);
$zir-warn: mat-palette($mat-red);

$zir-dark-theme: mat-dark-theme($zir-primary, $zir-accent, $zir-warn);

@include angular-material-theme($zir-dark-theme);

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Teko, sans-serif;
  letter-spacing: 0.0125em;
  .game-container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    canvas {
      width: 100%;
      height: calc(100% - 64px);
    }
  }
}
a {
  color: #ccc;
  &:hover {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
  }
  &:visited {
    color: #ccc;
  }
}
