@import '~@angular/material/theming';
@import 'themes/palette';

@include mat-core();

$zir-primary: mat-palette($zir-black-palette);
$zir-accent: mat-palette($zir-white-palette);
$zir-warn: mat-palette($mat-red);

$zir-dark-theme: mat-dark-theme($zir-primary, $zir-accent, $zir-warn);

@include angular-material-theme($zir-dark-theme);

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Courier, sans-serif;
  .game-container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    canvas {
      width: 100%;
      height: calc(100% - 64px);
    }
  }
  footer {
    text-align: center;
    margin: 5px;
    p {
      text-align: justify;
    }
    h3 {
      text-transform: uppercase;
    }
    hr {
      width: 200px;
    }
  }
}
a {
  color: #ccc;
  &:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
  }
  &:visited {
    color: #ccc;
  }
}
